@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new Machine</h4>

@using (Html.BeginForm())
{
  <p>Name: @Html.TextBoxFor(model => model.MachineName, new { @required = "required"})</p>

  <p>Machine Model Number: @Html.TextBoxFor(model => model.MachineModelNum, new { @required = "required"})</p>

  <input type="submit" value="Add" class="btn btn-dark" />
}

<p>@Html.ActionLink("Show all Mach", "Index")</p>