@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Dr. SillyStringz's Factory!</h1>
</div>

<p>@Html.ActionLink("Eng", "Index", "Engineers")</p>
<p>@Html.ActionLink("Mach", "Index", "Machines")</p>